.place__title {
  max-width: 460px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
  @media screen and (max-width: 1024px) {
    .place__title {
      max-width: 440px;
    }
  }

  @media screen and (max-width: 768px) {
    .place__title {
      max-width: 340px;
    }
  }

  @media screen and (max-width: 320px) {
  .place__title {
    margin: 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
