.photo-grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  max-width: 100%;
  padding-bottom: 92px;

}

@media screen and (min-width: 1280px) {
  .photo__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}


@media screen and (max-width: 768px) {
  .photo__grid {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo__grid {
    padding-bottom: 64px;
  }
}
