.intro__list {
  max-width: 690px;
  margin: 0 0 92px;
  padding: 0;
  list-style: none;
  font-family: "Inter", "Arial ", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    max-width: 1024px;
    margin: 0 auto 92px;
  }
}


@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
    margin: 0 auto 88px;;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    max-width: 288px;
    margin: 0 auto 64px;;
  }
}

