.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  }

  @media screen and (max-width: 1024px) {
    .place__paragraphs {
      max-width: 456px;
    }
   }


  @media screen and (max-width: 768px) {
    .place__paragraphs {
      max-width: 484px;
      gap: 25px;
    }
  }

  @media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
