.lead__image {
  margin: 0 auto;
  max-width: 100%;
}

  @media screen and (max-width: 1024px) {
    .lead__image {
      margin: 0;
      max-width: 928px;
      min-height: 580px;
    }
  }

  @media screen and (max-width: 768px) {
    .lead__image {
      margin: 0;
      max-width: 768px;
      min-height: 480px;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__image {
      margin: 0;
      max-width: 320px;
      min-height: 200px;

    }
   }
