.cover {
  max-width: 1184px;
  margin: 88px auto 92px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 100px auto 96px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 88px;
  }
}


@media screen and (max-width: 320px) {
  .cover {
    margin: 67px auto 64px;
  }
}
