.cover {
  max-width: 1184px;
  margin: 12px auto 88px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 18px auto 88px;
  }
}


@media screen and (max-width: 320px) {
  .cover {
    margin: 0 auto 64px;
  }
}
