.place {
  margin: 0 auto 80px;
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 49px;
  column-gap: 15px;

}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 16px;
    row-gap: 45px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    column-gap: 19px;
    row-gap: 42px;
    margin: 0 auto 73px;
  }
}

@media screen and (max-width: 620px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media screen and (max-width: 320px) {
  .place {
    margin: 0 auto 50px;
    max-width: 320px;
    row-gap: 31px;
  }
}
