.footer {
  margin: 0 auto 24px;
  max-width: 1184px;
  width: calc(100% - 2*48px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    padding-left: 16px;
    margin: 0;
  }
}
