.footer {
  margin: 0 auto 24px;
  max-width: 1184px;
  max-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 0 auto;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 100%;
    max-height: 310px;
    align-items: flex-start;
    padding-left: 16px;
    margin: 0;
  }
}
