.photo-grid__image {
  margin: 0;
  display: block;
  max-width: 284px;
  height: 213px;
  object-fit: cover;
}


  @media screen and (max-width: 1024px) {
    .photo-grid__image {
      max-width: 300px;
      height: 225px;
    }
  }

  @media screen and (max-width: 768px) {
    .photo-grid__image {
      max-width: 352px;
      height: 264px;
    }
  }

  @media screen and (max-width: 320px) {
    .photo-grid__image {
      max-width: 288px;
      height: 216px;
    }
  }
