.intro__title {
  max-width: 690px;
  margin: 0;
  padding-bottom: 40px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 58px;

}


@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: 1024px;
    margin: 0 auto;

  }
}


@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}

